.containerItemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .countItem {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;


        button {
            width: 50px;
            margin: 10px;
            border-radius: 5px;
            border: hidden;
            background-color: rgb(77, 77, 247);
            color: #fff;
            font-weight: bold;
            font-size: 15px;
        }

        .count {
            font-weight: bold;
            margin: 10px
        }
    }

    .buttonsAddDelet {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;

        button {
            width: 150px;
            margin: 20px 5px;
            background-color: #000000e1;
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #414040e1;
            color: #fff;
        }
    }
}